<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>

    <!--Server URL-->
    <add key ="server.url" value="http://localhost:8080/"/>

    <!--Hintergrundfarben des Stundenplanes-->
    <add key="timetable.color.row1" value="#FFD2E7EB"/>
    <add key="timetable.color.row2" value="#FFFFFFFF"/>
    <add key="timetable.color.rowseperator" value="#FF7D7E7E"/>
    <!--Icon Paths fuer die Timetableitems in der Stundenplananzeige-->
    <add key="timetabel.item.icon.exercise" value="pack://application:,,,/Resources/Icons/exercise_w.png"/>
    <add key="timetabel.item.icon.lecture" value="pack://application:,,,/Resources/Icons/lecture_w.png"/>
    <add key="timetabel.item.icon.practicaltraining" value="pack://application:,,,/Resources/Icons/practicum_w.png"/>
    <add key="timetabel.item.icon.tutorial" value="pack://application:,,,/Resources/Icons/tutorial_w.png"/>
    <!--Mode der Color generation 
    hash = Farbwert wird durch hashing des Namens ermittel !(keine Garantie fuer schoene Farben)!
    fix = fixe Farbwerte !(keine Ueberaschung :( ))
    chaos = Es ist einfach Random welche Farbe kommt-->
    <add key="colorgenerator.mode" value="hash"/>
    <!--Gibt an Was gehasht wird (byType [Name der Typen] o. byGroup [Name der Groupe])-->
    <add key="colorgenerator.hash.assigment" value="byGroup"/>
    <!--Fix Farbenwerte falls mit den Fix mode generiert wird-->
    <add key="colorgenerator.fix.exercise" value="#C45A42"/>
    <add key="colorgenerator.fix.lecture" value="#EF7B04"/>
    <add key="colorgenerator.fix.practicaltraining" value ="#EEDC00"/>
    <add key="colorgenerator.fix.tutorial" value ="#265A65"/>

    <!--debug mode gegen login-leid: "debug" = kein login kein user keine module "normal" = login mit authtoken. vscode mit branch tokenauth muss laufen-->
    <add key="login.mode" value="normal"/>
    
    <!--Wo die Zeitangezeit wird falls die Zeile zu klein fuer den Text ist
    origin = In der Ursprunglichen Zeile 
    middle = In der Mitte einer Section
    default: inRow-->
    <add key="timetable.time.overlapping.position" value="middle"/>
    
    <!---[Int32] Gibt an wie gross ein Section ist (in Zeiteinheiten default: 15min)-->
    <add key ="timetable.row.seperator.amount" value="4"/>
    
    
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
