<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>


    <!--Hintergrundfarben des Stundenplanes-->
    <add key ="timetable.color.row1" value="#FFD2E7EB"/>
    <add key ="timetable.color.row2" value="#FFFFFFFF"/>
    <add key ="timetable.color.rowseperator" value="#FF7D7E7E"/>
    
    <!--Mode der Color generation 
    hash = Farbwert wird durch hashing des Namens ermittel !(keine Garantie fuer schoene Farben)!
    fix = Farbwert spricht fixe Farbwerte !(keine Ueberaschung :( ))-->
    <add key="colorgenerator.mode" value="fix"/>

    <!--Gibt an Was gehasht wird (byType [Name der Typen] o. byGroup [Name der Groupe])-->
    <add key="colorgenerator.hash.assigment" value="byGroup"/>
    
    <!--Fix Farbenwerte falls mit den Fix mode generiert wird-->
    <add key="colorgenerator.fix.exercise" value="#C45A42"/>
    <add key="colorgenerator.fix.lecture" value="#EF7B04"/>
    <add key="colorgenerator.fix.practicaltraining" value ="#EEDC00"/>
    <add key="colorgenerator.fix.tutorial" value ="#265A65"/>
    
    
  </appSettings>
  
</configuration>